[submodule "BoilerTutors2.0/BoilerTutors/BoilerTutors2.0/BoilerTutors/BoilerTutors"]
	path = BoilerTutors2.0/BoilerTutors/BoilerTutors2.0/BoilerTutors/BoilerTutors
	url = https://github.com/shivliagrawal/BoilerTutors.git
